 body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ-9SCx7w0cky5__0hlsgpBdzVFoj69_9tbZNVHTzmqznwMKAxM&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    color: orangered;
    text-align: center;
    text-decoration: solid;
    text-decoration: underline;
}

img {
    padding: 55px;
    width: 40%;
}


a {
    color: goldenrod;
    width: 40%;
    height: 70%;
}

a:hover {
    color: red;
}

a:visited {
    color: darkgreen;
}
